*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(100deg, #53BAD2, #6551CF, #5AB4DA);
    /*border: 10px solid #868686;*/
    font-family: Poppins, sans-serif;
    
}

header, div {
    display: flex;
    justify-content: center;
    align-items: center;
}

