*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #53bad2, #00a7dc, #0091e4, #0d75e2, #6551cf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: auto;
    font-family: Poppins, sans-serif;
}

header,
div {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding-top: 30px;
}

