*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #53bad2, #00a7dc, #0091e4, #0d75e2, #6551cf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: auto;
    font-family: Poppins, sans-serif;
}

header,
div {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding-top: 30px;
}


ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}



/* button created by js */
.button {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 25px auto;
    padding: 40px;
    width: 35%;
    text-align: center;
    white-space: normal;
}

.button:hover {
    background-color: #53bad2;
}


modal styling #show-dialog,
#show-modal {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}


#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* to allow scrolling if the screen is not high enough */
    overflow: auto;
    display: grid;
    text-align: center;
    display: none;
}


.modal {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #696969;
    text-decoration: underline;
}


#modal-container.is-visible {
    background: rgba(0, 0, 0, 0.5);
    display: block;

}

.img {
    height: 50%;
    width: 50%;
}
